:root {
        --title: aliceblue;
        --background:rgb(239, 163, 176); 
    }

    @media (max-width: 952px){
        .class {
            font-size: 30 px;
            padding-left: 50 px;
            }
        .nav-links{
            font-size: 12 px;
        }
    }
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
        
header h1 { 
    font-family: cursive;
    font-style: bold;
    margin: 40px;
    border: 30px;
    color: var(--title);
    font-size: 60px;
    background-color: var(--background); 
    display:flex;
    justify-content:center;
    

}

 nav { 
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narcolumn', Arial, sans-serif;
    font-style:italic;
    font-size: 20px;
    color: var(--title);
    background-color: rgb(227, 68, 126);
    
}

.nav-links { list-style-type: none;
    display:flex;
    text-decoration: none;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    background-color: rgb(227, 68, 126);
}

img {display: flex;
    justify-content: center;
    width: auto;
    height: auto;

}
   


li, a, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16 px;
    color: var(--title);
    text-decoration: none;
}


body { 
    display:flex;
    flex-direction:column;
    justify-content: center;
}


 ul {   list-style-type: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--title);
        background-color: var(--background);
        flex-wrap: nowrap;
        justify-content: center;
        align-content:space-between;
    }

.AboutMe-button {
    display: flex;
    padding: 15px;
}

.Portfolio-button {
    display: flex;
    padding: 15px;
}

.Resume-button {
    display: flex;
    padding: 15px;
}

.Contact-button {
    display: flex;
    padding: 15px;
}
.nav-links a:hover { color: aqua;

}
img {
    width: 150px;
    height: 225 px;
}

 main {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: var(--background);
    font-size: 16px;
    align-items: center;

}
    section { font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: aliceblue;
        background-color: var(--background);
        font-size: 16px;
        align-items: center;

    }
.About {
    font-family: cursive;
    font-size: 24px;
    display:block;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 15px;
    }
   
.Portfolio {
    font-family: cursive;
    font-size: 24px;
    display: block;
    justify-content: center;
    flex-direction:row;
    height: 200px;
    width: auto;
    margin: 15px;
    
    }

.Resume {
    font-family: cursive;
    font-size: 24px;
    display: block;
    justify-content: center;
    flex-direction: column;
    height: 200px; 
    width:auto;
    margin: 15px;
    }


.Contact {
    font-family: cursive;
    font-size: 24px;
    display: block;
    justify-content: center;
    flex-direction: column;
    height: 200px; 
    width:auto;
    margin: 15px;
        }

    .contact section{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        align-items: center;
    }



